*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "微软雅黑";


}
.header{
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #242424;
    border-bottom: #e6e6e6 solid 1px;
    min-width: 1010px;
    z-index: 3;
}
.header .logo{
    float: left;
    width: 97px;
    height: 34px;
    margin-left: 71px;
    margin-top: 10px;
}
.header .logo img{
    width: 130px;
}
.header .profile{
    position: fixed;
    top: 5px;
    left: 1200px;
    width: 60px;
    height: 60px;
}
.header .profile img{
    vertical-align: middle;
    border-radius: 50%;

}
a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
a:-webkit-any-link{
    cursor: pointer;
}
#fixed{
    position: fixed;
    top: 61px;
    left: 0;
    background: #242424;
    width: 60px;
    bottom: 0;
    z-index: 99;
}
#fixed dl{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 60px;
    position: absolute;
    left: 0;
    top: 42%;
    bottom: 0;
    vertical-align: middle;
    margin-top: -240px;

}
#fixed dd{
    font: inherit;
    font-size: 12px;
}
#fixed a.intro{
    background: transparent url(/static/images/产品介绍.png);
    background-size: 60px 60px;
    background-position: 0 -6px;
}
#fixed a.analysis{
    background: transparent url(/static/images/数据分析.png);
    background-size: 60px 60px;
    background-position: 0 -6px;
}
#fixed a.question{
    background: transparent url(/static/images/问题.png);
    background-size: 60px 60px;
    background-position: 0 -6px;
}
#fixed a.connect{
    background: transparent url(/static/images/联系我们.png);
    background-size: 60px 60px;
    background-position: 0 -6px;
}
#fixed a, #fixed a:link{
    text-decoration: none;
    display: block;
    height: 60px;
    color: #707384;
    font-weight: bold;
    line-height: 100px;
    overflow: hidden;
    border-bottom: solid 3px black;
}
#box{
    width: 300px;
    position: fixed;
    top: 61px;
    left: 60px;
    background: #444444;
    bottom: 0;
    z-index: 99;
}
#box #box1{
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
    height: 220px;
    border-bottom: 2px solid #FFFFFF;
}
#box #box2{
    position: absolute;
    width: 300px;
    top: 220px;
    left: 0;
    bottom: 0;
}
#chat{
    position: fixed;
    top: 62px;
    left: 361px;
    right: 0;
    bottom: 0;
}
#chat .chat-box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 540px;
    background: #E6E6E6;
    border-bottom: 1px solid black;
    overflow-y: auto;
}
#chat .chat-box .chat-right{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    float: right;
    display: block;
}
#chat .chat-box .chat-right img{
    width: 50px;
    height: 50px;
    float: right;
}
#chat .chat-box .chat-right .myfont{
    padding-left: 30px;
    margin-right: 10px;
    width: auto;
    min-width: 200px;
    height: auto;
    float: right;
    background-color: white;
    border-radius: 10px;
    min-height: 50px;
}
#chat .chat-box .chat-right .myfont p{
    margin-right:30px;
    line-height: 30px;
}
#chat .chat-box .chat-left .myfont p{
    margin-right:30px;
    line-height: 30px;
}
#chat .chat-box .chat-left{
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
#chat .chat-box .chat-left img{
    width: 50px;
    height: 50px;
    float: left;
}
#chat .chat-box .chat-left .myfont{
    padding-left: 30px;
    margin-left: 10px;
    width: 300px;
    height: auto;
    float: left;
    background-color: white;
    border-radius: 10px;
    min-height: 50px;
}
#chat #evaluation{
    position: absolute;
    top: 541px;
    left: 0;
    height: 40px;
    right: 0;
    background: #444444;
    border-bottom: 3px solid black;
}

.satisfaction{
    text-decoration: none;
    display: block;
    height: 40px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    bottom: 0;
    overflow: hidden;
    transition-duration: 1s;
}
.eva_hidden{
    position:absolute;
    top:-80px;
    left:20px;
    width: 100%;
    height: 80px;
    background-image: url(/static/images/pj.png);
    background-size: cover;
}
.pjs{
    width: 120px;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.pjs p{
    font-size:12px;
    line-height:20px;
    color:#999999;
}
.pj{
    width: 33%;
    height: 80%;
    float: left;

}
.satisfaction:hover{
    overflow: inherit;
}
.problems{
    color: #FFFFFF;
    font-weight: bold;
    line-height: 40px;
    background: transparent url(/static/images/常见问题.png) no-repeat;
    background-size: 100px 100px;
    background-position: -26px -32px;
    position: absolute;
    top: 0;
    left: 150px;
    width: 140px;
    bottom: 0;
    overflow: hidden;
}
.pro_hidden{
    position:absolute;
    top:-270px;
    left:-80px;
    width: 200px;
    height: 270px;
    background-image: url(/static/images/pro.png);
    background-size: cover;
}
.pro_hidden .hidden_content{
    width: 180px;
    height: 230px;
    margin-left: 20px;
    margin-bottom: 35px;
    padding-top: 10px;
}
.pro_hidden .hidden_content .term{
    width: 80%;
    height: 20%;
    margin-top: 5%;
    margin-left: 10%;
    color: #242424;
    font-size: 23px;
}
.pro_hidden .hidden_content .term:hover{
    color: #00A3F0;
}
.problems:hover{
    overflow: inherit;
}
#chat #message{
    position: absolute;
    left: 0;
    top: 584px;
    right: 0;
    bottom: 0;
    margin-right: 0;
}
#chat #message .chat-message{
    float: left;
    /*outline: none;*/
    position: absolute;
    left: 5px;
    top: 5px;
    right: 0;
    margin-right: 150px;
    background-color: white;
    bottom: 5px;
}
#chat #message .send{
    top: 5px;
    bottom: 5px;
    background-color: white;
    position: absolute;
    width: 150px;
    right: 0;

}
#chat #message .send input{
    font-size: 24px;
    position: absolute;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #00A3F0;
    border-radius: 10px;
    width: 120px;
    height: 60px;
    margin-top: 10px;
}
.content{
    width: 300px;
    height: 400px;
    position: relative;
}
.big{
    position: absolute;
    background-image: url(/static/images/bg_l.png);
    background-size: cover;
    left:60px;
}
.big2{
    position: absolute;
    background-image: url(/static/images/bg_r.png);
    background-size: cover;
    right: 60px;
}
.content1{
    width: 300px;
    height: 100px;
    position: relative;
}
.main{
    width: 100px;
    height: 70px;
    background-size: cover;
    float: left;
}
.choose_pro{
    color: #00A3F0;
    cursor: pointer;
}
